<div class="card">
  <div class="card-body">
    <h4 class="card-title">Your Basket</h4>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price per unit</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @current_basket.line_items.includes(:product).each do |line_item| %>
          <tr>
            <td><%= line_item.product.name %></td>
            <td><%= line_item.quantity %></td>
            <td><%= line_item.product.price %></td>
            <td>
              <%= link_to line_item, class: "btn btn-danger btn-sm", data: { turbo_method: :delete } do %>
                <i class="bi-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Delete Basket", basket_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
  </div>
</div>
