<tr>
  <td><%= product.name %></td>
  <td><%= price_in_euros(product.price) %></td>
  <td>
    <%= button_to "Add to Basket",
                  product_line_items_path(product_id: product.id),
                  method: :post,
                  class: "btn btn-success btn-sm" %>
  </td>
</tr>
<% product.product_bundles.each do |bundle| %>
  <tr>
    <td><%= bundle.name %></td>
    <td><%= price_in_euros(bundle.price) %></td>
  <td>
    <%= button_to "Add to Basket",
                  bundle_line_items_path(product_bundle_id: bundle.id),
                  method: :post,
                  class: "btn btn-warning btn-sm" %>
  </td>
  </tr>
<% end %>
