<tr>
  <td><%= product.name %></td>
  <td><%= price_in_euros(product.price) %></td>
  <td>
    <%= button_to "Add to Basket",
                  line_items_path(product_id: product.id),
                  method: :post,
                  class: "btn btn-success btn-sm" %>
  </td>
</tr>
<% if product.quantity_discount.present? %>
  <tr>
    <td class="text-end">
      <%= tag.span "discount", class: "badge bg-info" %>
      <%= product.quantity_discount.quantity %>x
    </td>
    <td><%= price_in_euros(product.quantity_discount.price) %></td>
    <td></td>
  </tr>
<% end %>
