<tr>
  <td><%= product.name %></td>
  <td><%= price_in_euros(product.price) %></td>
    <td><%= button_to "Add to Basket", line_items_path(product_id: product.id), method: :post, class: "btn btn-success" %></td>
</tr>
<% product.product_bundles.each do |discount| %>
  <tr>
    <td>
      <%= product.name %>
      Discount
    </td>
    <td>
      <%= discount.quantity %> for
      <%= price_in_euros(discount.price) %>
    </td>
    <td><%= button_to "Add to Basket", "#", method: :post, class: "btn btn-warning" %></td>
  </tr>
<% end %>
